---
// src/pages/booklets/index.astro
import PageHeading from '@/components/custom/PageHeading';
import PageSubHeading from '@/components/custom/PageSubHeading';

import BaseLayout from '@/layouts/BaseLayout.astro';
import { FileText } from 'lucide-react';
import { booklets } from '@/data/booklets';
import BookletCard from '@/components/custom/BookletCard';

const pageTitle = 'Booklet Perjalanan Pulau Tidung';

---

<BaseLayout {pageTitle}>
  <section class="py-16 bg-gradient-to-br from-cyan-50 to-blue-50">
    <div class="container mx-auto px-4">
      <div class="text-center mb-16">
        <PageHeading> Booklet </PageHeading>
        <PageSubHeading>
          Panduan komprehensif untuk petualangan Anda di Pulau Tidung
        </PageSubHeading>
      </div>

      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          booklets.map((booklet) => (
            <BookletCard booklet={booklet} />
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
