---
import mendayungSeribuLogo from '@/assets/images/mendayung-seribu-logo.svg';
import MobileMenu from './MobileMenu';
import Navigation from './Navigation';
---

<nav
  class="py-4 sticky top-0 box-content z-50 px-6 transition-all duration-300 ease-in-out"
>
  <div class="flex justify-between items-center">
    {/* Logo */}
    <a href="/" class="flex items-center text-primary-foreground">
      <img src={mendayungSeribuLogo.src} class="w-7" />
      <span class="text-3xl ml-3 font-[Karimun]" id="navbar-logo"
        >Visit Tidung</span
      >
    </a>

    <div class="flex gap-4 items-center">
      {/* Desktop Navigation */}
      <nav class="gap-4">
        <Navigation client:load />

        <MobileMenu client:load />
      </nav>
    </div>
  </div>
</nav>

<style>
  .navigation-menu-link {
    display: block;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    border: none;
    font-family: inherit;
    text-align: left;
    width: 100%;
  }
</style>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const currentPath = window.location.pathname;
    const navbar = document.querySelector('nav');
    const navClasses = ['bg-background', 'shadow-md'];
    const navbarLogo = document.getElementById('navbar-logo');
    const navLinks = document.querySelectorAll('.navigation-menu-link');

    // Fungsi untuk mengatur style navbar
    function setNavbarStyle(isScrolled) {
      if (isScrolled || currentPath !== '/') {
        navbar.classList.add(...navClasses);
        navbarLogo.classList.add('text-primary');
        navLinks.forEach((link) => {
          link.classList.remove('text-primary-foreground');
          link.classList.add('text-primary');
        });
      } else {
        navbar.classList.remove(...navClasses);
        navbarLogo.classList.remove('text-primary');
        navLinks.forEach((link) => {
          link.classList.remove('text-primary');
          link.classList.add('text-primary-foreground');
        });
      }
    }

    // Tangani scroll di homepage
    if (currentPath === '/') {
      setNavbarStyle(window.scrollY > 100);
      
      window.addEventListener('scroll', () => {
        setNavbarStyle(window.scrollY > 100);
      });
    } else {
      setNavbarStyle(true);
    }

    // Tangani hash di URL untuk scroll ke section
    const hash = window.location.hash.substring(1);
    if (hash && window.location.pathname === '/') {
      const element = document.getElementById(hash);
      if (element) {
        setTimeout(() => {
          element.scrollIntoView({ behavior: 'smooth' });
        }, 300);
      }
    }
  });
</script>