---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Map from '@/components/custom/Map';
import { getCollection } from 'astro:content';
import SectionHeading from '@/components/custom/SectionHeading';
import SectionSubHeading from '@/components/custom/SectionSubHeading';

const pageTitle = 'Peta Pulau Tidung';

const culinary = await getCollection('culinary');
const lodgings = await getCollection('lodgings');
---

<BaseLayout {pageTitle}>
  <section class="py-20 bg-white">
    <div class="px-4">
      <div class="text-center mb-16">
        <SectionHeading>Peta Interaktif Pulau Tidung</SectionHeading>
        <SectionSubHeading
          >Temukan lokasi kuliner UMKM dan penginapan di Pulau Tidung</SectionSubHeading
        >
      </div>

      <Map client:only culinary={culinary} lodgings={lodgings} />
    </div>
  </section>
</BaseLayout>
