---
import BaseLayout from '@/layouts/BaseLayout.astro';
import {
  Card,
  CardDescription,
  CardHeader,
  CardTitle,
  CardFooter,
  CardContent,
} from '@/components/ui/card';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import PageHeading from '@/components/custom/PageHeading';
import PageSubHeading from '@/components/custom/PageSubHeading';

const places = await getCollection('places');
// Sort places by title
places.sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<BaseLayout pageTitle="Places - Visit Tidung">
  <section class="bg-gradient-to-br from-cyan-50 to-blue-50 px-3 py-16">
    <PageHeading> Tempat Wisata di Pulau Tidung </PageHeading>
    <PageSubHeading>
      Temukan berbagai tempat menarik yang bisa Anda kunjungi di Pulau Tidung
    </PageSubHeading>
    <div
      class="my-8 max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
    >
      {
        places.map((place) => (
          <a href={`/places/${place.id}`} class="group">
            <Card className="hover:shadow-lg transition-shadow duration-300 p-0 overflow-hidden">
              <CardContent className="p-0 relative">
                <Image
                  src={place.data.featuredImage}
                  alt={place.data.title}
                  class="w-full h-64 object-cover transform transition-transform duration-500 group-hover:scale-110"
                />
                <div class="absolute inset-0 bg-gradient-to-t from-black/70 via-black/0 to-transparent transition duration-300" />
                <div class="absolute inset-0 flex flex-col justify-end p-4 text-white">
                  <h2
                    class="text-4xl font-[Karimun] relative inline-block
           bg-gradient-to-r from-white to-white
           bg-[length:0%_2px] bg-left-bottom bg-no-repeat
           transition-[background-size] duration-500 group-hover:bg-[length:100%_2px]"
                  >
                    {place.data.title}
                  </h2>
                </div>
              </CardContent>
            </Card>
          </a>
        ))
      }
    </div>
  </section>
</BaseLayout>
