---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import SectionHeading from '@/components/custom/SectionHeading';
import SectionSubHeading from '@/components/custom/SectionSubHeading';

import TraditionalFoodCollapsible from '@/components/custom/TraditionalFoodCollapsible';

const pageTitle = 'Kuliner Khas Pulau Tidung';

const traditionalFoods = await getCollection('traditionalFoods');
---

<BaseLayout {pageTitle}>
  <section
    class="bg-background px-3 py-2 md:px-3 md:py-2"
    id="culinary-section"
  >
    <div class="max-w-4xl mx-auto py-8">
      <SectionHeading>Kuliner Khas Pulau Tidung</SectionHeading>
      <SectionSubHeading
        >Rasakan cita rasa otentik hidangan lokal Pulau Tidung</SectionSubHeading
      >

      <TraditionalFoodCollapsible client:load traditionalFoods={traditionalFoods} />
    </div>
  </section>
</BaseLayout>
